.head {
    min-height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: dodgerblue;
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.title-h3 {
    margin: 0 2rem;
    display: flex;
    align-items: center;
    width: fit-content;
}

.total {
    border: 2px solid white;
    border-radius: 10px;
    margin-left: .5rem;
    min-height: 2.2rem;
    width: fit-content;
    height: fit-content;
    min-width: 4.5rem;
    word-wrap: break-word;
    padding: .1rem .5rem;
}

.total-h3 {
    display: flex;
    align-items: center;
    max-width: 50%;
    margin-right: 1rem;
}

@media (min-width:350px) and (max-width:580px) {
    .total-h3 {
        width: fit-content;
        max-width: 50%;
        margin-right: 1rem;
        word-wrap: break-word;
    }

    .total {
        max-width: 45vw;
        height: fit-content;
        word-wrap: break-word;
    }
}

@media (max-width:350px) {
    .head {
        display: inline-flex;
        width: 100%;
    }

    .title-h3 {
        max-width: 40%;
        margin-left: .5rem;
    }

    .total-h3 {
        flex-direction: column;
        width: fit-content;
        max-width: 55%;
        margin-right: 1rem;
        word-wrap: break-word;
    }

    .total {
        max-width: 45vw;
        height: fit-content;
        word-wrap: break-word;
    }
}