.headings {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ee8b8b;
    padding-left: .3rem;
    color: #fff;
}

.item-body {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

.item-body-heading {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ee8b8b;
    padding-left: .3rem;
    color: #fff;
    width: 80%;
}

.new-items {
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: .3rem;
    padding-top: .5rem;
}

.item-list {
    margin: 2.5rem .5rem 0 .5rem;
    border-radius: 1rem;
    background-color: #f5cece;
    overflow: hidden;
}

.add-item-outer{
    display: flex;
    flex-direction: column;
}

.add-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: .3rem;
}

.item1 {
    width: 5%;
}

.item2 {
    width: 15%;
    max-width: 8rem;
}

.item3 {
    width: 30%;
}

.item4 {
    width: 35%;
}

.item5 {
    width: 8%;
    word-wrap: break-word;
}

.item6{
    width: 7%;
}


.sub-btn {
    margin: 1rem;
    width: 5rem;
    position: relative;
}

.sub-inp {
    width: 100%;
    top: 0;
    right: 0;
    position: absolute;
    opacity: 0;
}

.new-btn {
    margin-top: 2rem;
}

.total-component{
    display: none;
}

.warn{
    color: red;
}

@media (max-width:520px) {
    .new-items {
        height: fit-content;
        padding: .6rem 0;
    }

    .item1 {
        margin-right: auto;
        margin-left: 1rem;
    }
    .item2 {
        width: 100%;
    }
    .item3 {
        width: 100%;
    }
    .item4 {
        width: 100%;
    }
    .item5 {
        margin-left: auto;
        margin-right: .5rem;
    }

    .item6 {
        width: 8%;
        margin-right: .5rem;
        padding-right: .2rem;
    }

    .item-body-heading {
        display: flex;
        width: 40%;
    }

    .item-body {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: .5rem 0;
        width: 60%;
    }
}