.headings {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ee8b8b;
    padding-left: .3rem;
    color: #fff;
    gap: 1rem;
}
.item-body{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    flex: 16;
}
.item-body-heading{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ee8b8b;
    padding-left: .3rem;
    color: #fff;
    gap: 1rem;
    flex: 16;
}

.new-items {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    padding-right: .3rem;
}

.item-list{
    margin: 2.5rem .5rem 0 .5rem;
    border-radius: 1rem;
    background-color: #f5cece;
    overflow: hidden;
}

.add-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: .3rem;
}

.item1 {
    flex: 1;
}

.item2 {
    flex: 3;
    max-width: 8rem;
}

.item3 {
    flex: 6;
}

.item4 {
    flex: 7;
}

.item5 {
    flex: 2;
}
.sub-btn{
    margin: 1rem;
    position: relative;
}
.sub-inp{
    width: 100%;
    top: 0;
    right: 0;
    position: absolute;
    opacity: 0;
}
.new-btn{
    margin-top: 2rem;
}
.new-btn i{
    margin-right: .3rem;
}

@media (max-width:520px){
    .new-items{
        height: fit-content;
        padding: .6rem 0;
    }
    .item1{
        margin-right: auto;
        margin-left: 1rem;
    }
    .item5{
        margin-left: auto;
        margin-right: .5rem;
    }
    .item-body-heading{
        display: flex;
        gap: .5rem;
    }
    .item2 {
        max-width: 100%;
    }
    .item-body{
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: .5rem;
    }
}